/* Importing custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Oxanium:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

:root {
    font-size: 62.5%;
    /* Base font size for rem scaling */
    overflow: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Oxanium", sans-serif;
    /* Default font for all elements */
}

body {
    background-color: black;
    /* Background color for entire page */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Full viewport height */
}

/* Main stopwatch container styling */
.stopwatch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    /* Space between elements */
    background-size: cover;
    background-position: center;
    width: 36%;
    /* Default width */
    padding-block: 4rem;
    /* Vertical padding */
}

/* Styling for time display area */
.time-display {
    text-align: center;
    /* Center text */
}

.time-display h1 {
    /* Margin above the timer */
    font-size: 6rem;
    /* Font size for timer */
    font-weight: 500;
    /* Font weight */
    color: #fff;
    /* Main timer text color */
}

.time-display p {
    color: lightgray;
    /* Color for the saved time display */
    font-size: 1.6rem;
    /* Font size for saved time */
    height: 2rem;
    /* Height for layout consistency */
}

/* Container for displaying saved stopwatch results */
#savedResultsContainer {
    color: #fff;
    /* Text color for results */
    width: 70%;
    /* Width of results container */
    height: 450px;
    /* Fixed height for results */
    display: flex;
    flex-direction: column;
    /* Vertical stacking of results */
    overflow: hidden;
    /* Hide overflow */
    gap: 2.5rem;
    /* Space between results */
}

/* Styling for individual saved results */
.result-item {
    display: flex;
    align-items: center;
    /* Center align items */
    justify-content: space-between;
    /* Space between content */
    font-size: 2rem;
    /* Font size for result items */
    transform: translateY(-50%);
    /* Animation effect */
    animation: slideDown 0.2s linear forwards;
    /* Slide down animation */
}

@keyframes slideDown {
    100% {
        transform: translateY(0);
        /* Final position */
    }
}

.result-item div {
    display: flex;
    gap: 3rem;
    /* Space between elements in result items */
}

.result-item div p:nth-child(1) {
    font-size: 2.3rem;
    /* Font size for specific paragraph */
}

/* Styling for control buttons container */
.control-buttons {
    display: flex;
    align-items: center;
    /* Center align buttons */
    gap: 3rem;
    /* Space between buttons */
}

/* General button styling */
.control-buttons button {
    border-radius: 50%;
    /* Round buttons */
    width: 5rem;
    /* Button width */
    height: 5rem;
    /* Button height */
    border: 0;
    /* No border */
}

/* Icon size inside buttons */
.control-buttons button i {
    font-size: 2.6rem;
    /* Font size for icons */
}

/* Play/Pause button specific styling */
.control-buttons button:nth-child(2) {
    padding-left: 0.4rem;
    /* Padding for play/pause button */
    width: 8rem;
    /* Width for play/pause button */
    height: 8rem;
    /* Height for play/pause button */
    background-color: orangered;
    /* Background color for play/pause button */
}

.control-buttons button:nth-child(2) i {
    font-size: 3rem;
    /* Font size for play/pause icon */
    color: #fff;
    /* Icon color */
}

/* Disabled styling for Play/Pause button */
.control-buttons button:nth-child(2):disabled {
    background-color: rgba(239, 239, 239, 0.3);
    /* Disabled background color */
}

.control-buttons button:nth-child(2):disabled i {
    color: rgba(16, 16, 16, 0.3);
    /* Disabled icon color */
}

/* Save button specific styling */
.control-buttons button:nth-child(3) i {
    font-size: 2.8rem;
    /* Font size for save icon */
}

/* Responsive styles for larger screens */
@media (min-width: 768px) and (max-width:1023px) {
    :root {
        font-size: 50%;
        /* Smaller base font size for mobile */
    }

    .stopwatch-container {
        width: 90%;
        /* Set a percentage width for smaller screens */
        padding: 3rem 1.5rem;
        /* Reduce padding for mobile */
    }

    .time-display h1 {
        font-size: 10rem;
        /* Smaller font size for mobile */
    }

    .time-display p {
        font-size: 2.5rem;
        /* Smaller font size for saved time */
    }

    #savedResultsContainer {
        width: 60vw;
        height: auto;
        /* Adjust height to fit mobile screens */
        gap: 5rem;
        /* Space between results */
    }

    #savedResultsContainer p {
        font-size: 2.4rem;
    }

    .control-buttons {
        gap: 36px;
    }

    .control-buttons button {
        width: 8rem;
        /* Wider buttons */
        height: 8rem;
        /* Taller buttons */
    }

    .control-buttons button i {
        font-size: 4rem;
    }

    .control-buttons button:nth-child(2) {
        width: 12rem;
        /* Width for play/pause button */
        height: 12rem;
        /* Height for play/pause button */
    }

    .control-buttons button:nth-child(2) i {
        font-size: 4rem;
    }

    .control-buttons button:nth-child(3) {
        width: 8rem;
        height: 8rem;
    }

    .control-buttons button:nth-child(3) i {
        font-size: 5rem;
        /* Font size for save icon */
    }
}

/* Responsive styles for desktop screens */
@media (max-width: 1500px) {
    :root {
        font-size: 62.5%;
        /* Restore base font size for larger screens */
    }

    .stopwatch-container {
        width: 36%;
        /* Default width for desktop */
        padding: 6rem 3rem;
        /* Padding for desktop */
    }

    .time-display h1 {
        font-size: 8rem;
        /* Even larger font size for timer */
    }

    #savedResultsContainer {
        height: auto;
        /* Increased height for results */
        gap: 3.5rem;
        /* More space between results */
    }

    .control-buttons button {
        width: 7rem;
        /* Wider buttons */
        height: 7rem;
        /* Taller buttons */
    }
}

/* Base styling for mobile devices */
@media (max-width: 767px) {
    :root {
        font-size: 50%;
        /* Smaller base font size for mobile */
    }

    .stopwatch-container {
        width: 90%;
        /* Set a percentage width for smaller screens */
        padding: 3rem 1.5rem;
        /* Reduce padding for mobile */
    }

    .time-display h1 {
        font-size: 10rem;
        /* Smaller font size for mobile */
    }

    .time-display p {
        font-size: 2.5rem;
        /* Smaller font size for saved time */
    }

    #savedResultsContainer {
        width: 80vw;
        height: auto;
        /* Adjust height to fit mobile screens */
        gap: 5rem;
        /* Space between results */
    }

    #savedResultsContainer p {
        font-size: 2.4rem;
    }

    .control-buttons {
        gap: 30px;
    }

    .control-buttons button {
        width: 8rem;
        /* Wider buttons */
        height: 8rem;
        /* Taller buttons */
    }

    .control-buttons button i {
        font-size: 4rem;
    }

    .control-buttons button:nth-child(2) {
        width: 14rem;
        /* Width for play/pause button */
        height: 14rem;
        /* Height for play/pause button */
    }

    .control-buttons button:nth-child(2) i {
        font-size: 4rem;
    }

    .control-buttons button:nth-child(3) {
        width: 9rem;
        height: 9rem;
    }

    .control-buttons button:nth-child(3) i {
        font-size: 5.3rem;
        /* Font size for save icon */
    }
}

@media (max-width: 450px) {
    .time-display h1 {
        font-size: 8rem;
    }

    .time-display p {
        font-size: 2.5rem;
    }

    #savedResultsContainer {
        gap: 30px;
        margin-block: 50px;
    }

    #savedResultsContainer p {
        font-size: 2.3rem;
    }

    .control-buttons {
        gap: 20px;
    }
}